html 
    head                
        title Create Book 
    body 
        form(action='/createBook', method="POST" enctype="multipart/form-data") 
            input(type="file" name="bookCover") 
            <br/>
            input(name="title" type="text" required placeholder="Enter Book Title..")
            <br/>
            input(name="isbn" type="text" required placeholder="Enter ISBN Number if avail")
            <br/>
            <input class="admin__submit" type="submit" />