html 
    head 
        title Forgot Password 
    
    body 
        form(action="/forgot-password", method="post") 
            input(type="email" name='email' required placeholder="enter email id")
            <br />
            button(type="submit") Send Link 