html 
    head 
        title Forgot Password 
    
    body 
        form(action=`${redirectPath}`, method="post") 
            input(type="password" name='pass' required placeholder="enter pass")
            <br />
            input(type="password" name='confPass' required placeholder="enter pass")
            <br />
            button(type="submit") Change password 