html
   head
      title Signup
   body
      form(action = '/sign_up' method = "POST")
         input(name = "email" type = "email" required placeholder = "Email Id..")
         <br/>
         input(name = "password" type = "password" required placeholder = "Password") 
         <br/>
         button(type = "Submit") Sign me in!